[data-md-color-scheme="zilliqa"] {
  --md-primary-fg-color: #272626;
  --md-primary-bg-color: #ffffff;
  --md-default-fg-color: #ffffff;
  --md-default-fg-color--light: #ffffff;
  --md-default-fg-color--dark: #ffffff;

  --md-typeset-color: #ffffff;
  --md-typeset-a-color: #00d0c6;
  --md-accent-fg-color: #00d0c6;
  --md-accent-fg-color--light: #00d0c6;
  --md-accent-fg-color--dark: #00d0c6;
  --md-default-bg-color: #272626;
  --md-primary-bg-color: #272626;
  --md-primary-bg-color--light: #272626;
}

.md-header {
  color: #ffffff;
}

.md-search__input + .md-search__icon {
  color: #ff0000;
}

.md-search__input::placeholder {
  color: #00ff00;
}
