build --workspace_status_command "python config/workspace-status.py"
build --disk_cache=~/.cache/bazel/

# Tries to import additional config
try-import %workspace%/.bazelrc.configure
try-import %workspace%/.bazelrc.user