node_modules/
Debug/
*~
**/~
**/*~
**/node_modules
._*
**/._*

.docusaurus/node_modules
.DS_STORE
.rpt2_cache
lerna-debug.log
yarn-error.log
dist
includes
tsconfig.tsbuildinfo
.env
.idea/
coverage
devTestOnly/
@zilliqa-js*
bazel-*
.husky
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfotsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
.trunk/

.secrets.*
secrets.*
secrets/*
**/.secrets.*
**/secrets.*
**/secrets/*
.secret.*
secret.*
secret/*
**/.secret.*
**/secret.*
**/secret/*

.infra/
.infra/*
.infra/**