# dev-docs codeowners
# Each line is a file pattern followed by one or more owners.
# reference: https://help.github.com/en/articles/about-code-owners

*                                    @Gnnng

/core/*                              @bb111189

/core/difficulty-adjustment.md       @ShengguangXiao

/devops/*                            @Gnnng

/devops/aws-marketplace.md           @ShengguangXiao

/example/*                           @Gnnng