apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
images:
  - name: 298213327629.dkr.ecr.us-west-2.amazonaws.com/zilliqa-devportal
    newTag: ${STABLE_HASH_VERSION}
namespace: devportal-prd
