<?xml version="1.0" encoding="UTF-8" ?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>{groupId}</groupId>
  <artifactId>{artifactId}</artifactId>
  <version>{version}</version>
  <packaging>{type}</packaging>

  <name>Zilliqa LaksaJ</name>
  <description>Java bindings for the Zilliqa API</description>
  <url>https://github.com/Zilliqa/zilliqa-developer/tree/main/products/laksaj</url>

  <licenses>
   <license>
       <name>GNU General Public License (GPL), Version 3.0</name>
       <url>https://github.com/Zilliqa/zilliqa-developer/blob/main/products/laksaj/LICENSE</url>
    </license>
  </licenses>
  <issueManagement>
    <system>GitHub</system>
    <url>https://github.com/Zilliqa/zilliqa-developer</url>
  </issueManagement>
  <scm>
    <connection>scm:git:git://github.com/zilliqa/zilliqa-developer.git</connection>
    <developerConnection>scm:git:ssh://github.com:zilliqa/zilliqa-developer.git</developerConnection>
    <url>http://github.com/zilliqa/zilliqa-developer/tree/master</url>
  </scm>
  <developers>
    <developer>
     <name>The Zilliqa developers</name>
     <email>dev@zilliqa.com</email>
     <organization>Zilliqa</organization>
     <organizationUrl>https://www.zilliqa.com/</organizationUrl>
   </developer>
  </developers>

  <dependencies>
  {dependencies}
  </dependencies>
</project>