body {
  font-family: "sans-serif";
  font-size: 16pt
}

input {
  font-family: "sans-serif";
  font-size: 16pt
}

button {
  vertical-align: middle;
}

.warning {
  font-weight: bold;
  font-size: 12pt;
}

.example {
  font-family: "monospace";
  align: center;
  font-size: 12pt;
}
