apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - httproute.yaml

patches:
  - target:
      kind: ConfigMap
      name: zillion-config
    patch: |-
      - op: replace
        path: "/data/config.js"
        value: |
          window['config'] = {
              networks_config: {
                  testnet: {
                      proxy: "",
                      impl: "",
                      blockchain: "https://dev-api.zilliqa.com",
                      node_status: "https://testnet-viewer.zilliqa.com",
                      api_list: [
                          "https://bumblebee-api.zilliqa.network",
                          "https://dev-api.zilliqa.com",
                      ]
                  },
                  mainnet: {
                      proxy: "0x62A9d5D611CDCaE8D78005F31635898330e06B93",
                      impl: "0xa7C67D49C82c7dc1B73D231640B2e4d0661D37c1",
                      blockchain: "https://api.zilliqa.com",
                      node_status: "https://staking-viewer.zilliqa.com",
                      api_list : [
                          "https://api.zilliqa.com",
                          "https://ssn-zilliqa.cex.io/api",
                          "https://ssn.ignitedao.io/api",
                          "https://ssn.zillet.io",
                          "https://zil-staking.ezil.me/api",
                          "https://staking-zil.kucoin.com/api",
                      ]
                  },
                  zq2_protomainnet: {
                      proxy: "0x62A9d5D611CDCaE8D78005F31635898330e06B93",
                      impl: "0xa7C67D49C82c7dc1B73D231640B2e4d0661D37c1",
                      blockchain: "https://api.zq2-protomainnet.zilliqa.com",
                      node_status: "https://staking-viewer.zilliqa.com",
                      api_list : [
                          "https://api.zq2-protomainnet.zilliqa.com",
                      ]
                  },
                  isolated_server: {
                      proxy: "0x0578B8e9D9c2493D4a2E98f364c7ed311F7a0d71",
                      impl: "",
                      blockchain: "https://zilliqa-isolated-server.zilliqa.com",
                      node_status: "",
                      api_list : [
                          "https://zilliqa-isolated-server.zilliqa.com"
                      ]
                  }
              },
              refresh_rate_config: 300000,
              api_max_retry_attempt: 10,
              environment_config: "stage_zq2_protomainnet"
          }


namespace: zillion-stg
