apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - httproute.yaml

patches:
  - target:
      kind: ConfigMap
      name: governance-snapshot-config
    patch: |-
      - op: replace
        path: "/data/config.js"
        value: |
          window['VUE_APP_HUB_URL'] = 'https://governance-api.zilliqa.com';
          window['VUE_APP_IPFS_NODE'] = 'gateway.pinata.cloud';

namespace: governance-snapshot-prd
