NODE_ENV=cluster
DOCUMENTDB_HOST=localhost
DOCUMENTDB_PORT=27017
DOCUMENTDB_DB=devex-apollo
DOCUMENTDB_USER=test
DOCUMENTDB_PASSWORD=test
NETWORK_URL=https://api.zilliqa.com/
BLOCKS_PER_REQUEST=50
FAST_SYNC=false