name: "Create application production"

on:
  pull_request:
    branches:
      - release/*

jobs:
  build-docker:
    # https://github.com/orgs/community/discussions/26281

    runs-on: ubuntu-22.04
    name: "Build and deploy"
    env:
      AWS_REGION: us-west-2
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Preparing merged branches
        # Fetch the ref of the base branch, just the single commit.
        run: |
          git branch --track main origin/main          
          git branch --track ${{github.base_ref}} origin/${{github.base_ref}}
          git branch --track ${{github.head_ref}} origin/${{github.head_ref}}
          git fetch --all --tags
          git pull --all


          # Getting the base branch to make a merge
          git fetch --all origin +refs/heads/${{github.base_ref}}:refs/remotes/origin/${{github.base_ref}}
          git fetch --depth=1 origin +refs/heads/${{github.base_ref}}:refs/remotes/origin/${{github.base_ref}}
          git branch --track ${{github.base_ref}} origin/${{github.base_ref}}
          while [ -z $( git merge-base ${{github.base_ref}} HEAD ) ]; do     
            git fetch --deepen=10 origin ${{github.base_ref}} HEAD;
          done

          # Getting the main branch to compute the distance to main
          git fetch --all origin +refs/heads/main:refs/remotes/origin/main
          git fetch --depth=1 origin +refs/heads/main:refs/remotes/origin/main
          git branch --track main origin/main
          while [ -z $( git merge-base main HEAD ) ]; do     
            git fetch --deepen=10 origin main HEAD;
          done

          # Checking out the base branch to make this our working branch and 
          # merge the head
          git checkout ${{ github.base_ref }}
          git merge --squash ${{ github.head_ref }}

      - name: Committing head
        # Fetch the ref of the base branch, just the single commit.
        run: |
          git config --global user.email "bot@zilliqa.com"
          git config --global user.name "Zilliqa Bot"           
          git add . -A
          git commit -m "Finish merge"
          python config/workspace-status.py
          git merge-base HEAD main

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_SECRET_KEY }}

      - name: Bazel cache
        id: cache-bazel-debug
        uses: actions/cache@v3.0.4
        with:
          path: ~/.cache/bazel/
          key: ${{ runner.os }}-bazel-debug

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: "Build and push Docker"
        run: |
          bazelisk run --test_output=all --keep_going --disk_cache=~/.cache/bazel/ //products/developer-portal:push_image

      - name: "Creating Devops repo update"
        run: |
          bazelisk run //cd:create_production -- PR $(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
        env:
          GITHUB_TOKEN: ${{ github.token }}
          DEVOPS_ACCESS_TOKEN: ${{ secrets.DEVOPS_ACCESS_TOKEN }}
