name: "macOS CI"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - created

jobs:
  build-debug:
    runs-on: macos-12
    name: "Bazel Debug Build"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Bazel cache
        id: cache-bazel-debug
        uses: actions/cache@v3.0.4
        with:
          path: ~/.cache/bazel/
          key: ${{ runner.os }}-bazel-debug

      - name: "Building debug"
        run: |
          bazelisk build --keep_going --disk_cache=~/.cache/bazel/  //...

  test-debug:
    runs-on: macos-12
    name: "Bazel Debug Test"
    needs: [build-debug]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Bazel cache
        id: cache-bazel-debug
        uses: actions/cache@v3.0.4
        with:
          path: ~/.cache/bazel/
          key: ${{ runner.os }}-bazel-debug

      - name: "Running tests"
        run: |
          bazelisk test --test_output=all --keep_going --disk_cache=~/.cache/bazel/ //...
